<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--Settings对应全局设置. useStatementNamespaces属性则是指定是否使用命名空间方式来识别.对于初学者而言.为了保证快速上手.建议先把这些细节概念放置一边.建议设置成FAlse.不启用.-->
  <settings>
    <setting useStatementNamespaces="false" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="fasle" />
  </settings>

  <!-- Provider节点则是指定Provide.Config的文件路劲. -->
  <providers resource="providers.config"></providers>
  
  <!-- DataBase节点则会使找到Provide.Config中指定数据配置.目前项目中采用的是Sql2005即SQlServer2.0.-->
  <database>
    <provider name="sqlServer2.0" />
   <dataSource name="SalesData" connectionString="Data Source=(local);Initial Catalog=BaseCardDB;user id=sa;password=001123;Integrated Security=True"/>
  </database>

  <!--SqlMaps节点这时指定了映射文件的路径.-->
  <sqlMaps>
    <sqlMap resource="ProductMap.xml" />
  </sqlMaps>
</sqlMapConfig>